Node-RedMonitoring.json
[
    {
        "id": "a1793c1f7501cf7c",
        "type": "mqtt in",
        "z": "c68d1983b2688b4e",
        "name": "TEMPERATURE",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c52b26a844a812e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "e3aa53aa846fb788"
            ]
        ]
    },
    {
        "id": "716facfb90974ef6",
        "type": "function",
        "z": "c68d1983b2688b4e",
        "name": "function 8",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['humidity'];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 520,
        "wires": [
            [
                "af48ae8c64c7e7c3",
                "e35716648c2404c0",
                "6b6337bc6653d65d"
            ]
        ]
    },
    {
        "id": "af48ae8c64c7e7c3",
        "type": "debug",
        "z": "c68d1983b2688b4e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "72a9de6b6c73d998",
        "type": "mqtt in",
        "z": "c68d1983b2688b4e",
        "name": "dbase",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c52b26a844a812e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 680,
        "wires": [
            [
                "eefc9c29a2e277ba"
            ]
        ]
    },
    {
        "id": "eefc9c29a2e277ba",
        "type": "function",
        "z": "c68d1983b2688b4e",
        "name": "function 9",
        "func": "msg.payload1 = msg.payload['uplink_message']['decoded_payload']['temperature'];\nmsg.payload2 = msg.payload['uplink_message']['decoded_payload']['humidity'];\n\nmsg.topic = \"INSERT INTO datanode1(temperature, humidity) VALUES ('\"+msg.payload1+\"', '\"+msg.payload2+\"')\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 680,
        "wires": [
            [
                "d37a9d364610eab8",
                "44671f133c3e6beb"
            ]
        ]
    },
    {
        "id": "e35716648c2404c0",
        "type": "ui_text",
        "z": "c68d1983b2688b4e",
        "group": "e1d02d4dc030a453",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hum",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "6b6337bc6653d65d",
        "type": "ui_chart",
        "z": "c68d1983b2688b4e",
        "name": "",
        "group": "e1d02d4dc030a453",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c50f641d0278d0f6",
        "type": "ui_text",
        "z": "c68d1983b2688b4e",
        "group": "d91050e1c94a1bf7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temp",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "7ed13b9715fdadc7",
        "type": "ui_chart",
        "z": "c68d1983b2688b4e",
        "name": "",
        "group": "d91050e1c94a1bf7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d37a9d364610eab8",
        "type": "mysql",
        "z": "c68d1983b2688b4e",
        "mydb": "233b2d7ed24182d2",
        "name": "dbasenode1",
        "x": 690,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "8550f6e0d489c629",
        "type": "mqtt in",
        "z": "c68d1983b2688b4e",
        "name": "HUMIDITY",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c52b26a844a812e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "716facfb90974ef6"
            ]
        ]
    },
    {
        "id": "e3aa53aa846fb788",
        "type": "function",
        "z": "c68d1983b2688b4e",
        "name": "function 10",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['temperature'];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "c50f641d0278d0f6",
                "7ed13b9715fdadc7",
                "a9cdf8c4bfb6ae9a"
            ]
        ]
    },
    {
        "id": "44671f133c3e6beb",
        "type": "debug",
        "z": "c68d1983b2688b4e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 780,
        "wires": []
    },
    {
        "id": "a9cdf8c4bfb6ae9a",
        "type": "debug",
        "z": "c68d1983b2688b4e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "c52b26a844a812e8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "au1.cloud.thethings.network",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e1d02d4dc030a453",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "b15524445d965a77",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d91050e1c94a1bf7",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "b15524445d965a77",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "233b2d7ed24182d2",
        "type": "MySQLdatabase",
        "name": "node1",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "node1",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b15524445d965a77",
        "type": "ui_tab",
        "name": "Roby Ganteng",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]